Dear {{name}},

Thank you for signing up with gusto here is the link to activate your account.  Also we would like to extend to you a special sign up offer

{{email-html-promotional-offers}}

Sincerely,
{{from-name}},
{{company-title}}
