<!DOCTYPE html>
<html data-email="matthewburns@gmail.com"
      data-rollouts="authorized_applications,hiring,http_pipelining,oauth_client_crud,optimizely,org_onboarding,org_plans,org_resources"
      data-user="2264377" data-verified="true" lang="en">
  <head>
    <script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script>
    <meta charset="utf8" /><meta content="en" http-equiv="Content-Language" />
    <title>Gusto | Apps</title>
    <meta content="width=device-width" name="viewport" />
    <meta content="authenticity_token" name="csrf-param" />
    <meta content="IHNkgDJGOqcL5utLseMXtBXzgxqe5M2XrEtD+045aGI=" name="csrf-token" />
    <link href="https://dqegdwgdd0yjs.cloudfront.net/assets/favicon-4b8fc5ed8423fc1d06847636fb10eee1.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <link href="https://dqegdwgdd0yjs.cloudfront.net/assets/apple-touch-icons/touch-icon-144-101cbd66073e6a8c0b7dde34a14ca536.png" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <link href="https://dqegdwgdd0yjs.cloudfront.net/assets/apple-touch-icons/touch-icon-114-cfb65b92177321a12aa53b25928b7e16.png" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <link href="https://dqegdwgdd0yjs.cloudfront.net/assets/apple-touch-icons/touch-icon-72-25cc7e29f84691b3f27d67614577831a.png" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <link href="https://dqegdwgdd0yjs.cloudfront.net/assets/apple-touch-icons/touch-icon-57-42c4c48d1383ff131b46ba983c2daee8.png" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <link href="https://dqegdwgdd0yjs.cloudfront.net/assets/application-eb148f7089535f57d44aca16b4d593bc.css" media="all" rel="stylesheet" type="text/css" /><!--[if lt IE 9]><script src="/ie/ie8.js" /></script><![endif]-->
    <script src="https://dqegdwgdd0yjs.cloudfront.net/assets/application-f1f1768f8b941ac9a417727a42463cf7.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="l-page">
      <header class="l-wrapper main-header" id="header">
        <div class="dashboard-logo">
          <a href="/" class="logo"><strong>Gusto</strong> dashboard</a>
          <a href="http://jobs.heroku.com/" class="hiring">Beta</a>
        </div>
        <nav class="main-navigation">
          <ul>
            <li class="nav-item"><a href="/">Tools</a></li>
            <li class="nav-item"><a href="https://addons.heroku.com">Add-ons</a></li>
            <li class="nav-item"><a href="https://devcenter.heroku.com">Documentation</a></li>
            <li class="nav-item"><a href="https://help.heroku.com">Support</a></li>
            <li class="nav-item" id="notification-nav"><a href="javascript:void(0)" class="notification-link"></a><div class="notification-count"></div></li>
            <li class="drop-down nav-item">
              <a href="#"><img class="avatar" src="https://secure.gravatar.com/avatar/a7d2835274a646d5ad928e50eb8cc816.png?d=https://dashboard.heroku.com/ninja-avatar-48x48.png"/></a>
              <ul>
                <li><a href="/account">Account</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </header>
      <section class="l-wrapper" id="content">
        <ul class="messages mod-messages">
          <li class="message flash">
            <p class="content"></p>
            <ul class="actions">
              <li>
                <a href="#" class="remove">✖</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="stage-filter-is-hidden exp-awake-sleeping" id="apps">
          <header class="page-header">
            <h1 class="location">Landing Sites</h1>
            <div class="actions search" data-original-title="e.g. name, owner, buildpack, region, or stack" data-placement="bottom">
              <input autofocus="autofocus" data-user="matthewburns@gmail.com" placeholder="Find apps..." required="required" type="text" />
              <a href="#" class="clear" data-filter="">Clear search</a>
            </div>
          </header>
          <ul class="app-list joined">
            <li id="app-16809215" class="item with-app-state  development" data-index="ad-click-server cedar matthewburns@gmail.com united states us stage:development" data-id="16809215">
              <div class="container">
                <div class="main-info">
                  <a href="javascript:void(0)" class="app-state" data-app-href="http://ad-click-server.herokuapp.com/" data-app-name="ad-click-server" data-app-resources-url="/apps/ad-click-server/resources"></a>
                  <hgroup class=with-app-state>
                    <h2 class="item-title">
                      <a href="/apps/ad-click-server/resources" class="primary-action">ad-click-server</a>
                    </h2>
                  </hgroup>
                  <ul class="app-shortcuts">
                    <li class="resources"><a href="/apps/ad-click-server/resources" title="Resources">Resources</a></li>
                    <li class="activity"><a href="/apps/ad-click-server/activity" title="Activity">Activity</a></li>
                    <li class="collaborators"><a href="/apps/ad-click-server/collaborators" title="Access">Access</a></li>
                    <li class="settings"><a href="/apps/ad-click-server/settings" title="Settings">Settings</a></li>
                    <li class="favorite">
                      <form accept-charset="UTF-8" action="/user_info/favorite" class="new_favorite" data-remote="true" id="new_favorite" method="post">
                        <div style="margin:0;padding:0;display:inline">
                          <input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="ZndJ8vgkSL8iblXlWECy3y5VB0xmqZlk0ek/lWqHfmE=" />
                        </div>
                        <input id="id" name="id" type="hidden" value="16809215" />
                        <input name="commit" title="Favorite" type="submit" value="Favorite" />
                      </form>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>

</li>
</ul>
<div class="joined no-search-results"></div>

<div class="options">
  <a href="javascript:void(0)" class="add-app-link" data-highlight="create-app">Create a new app</a>
</div>

<div class="getting-started">
  <dl class="documentation-list"><dt>Getting to know Gusto</dt>
    <dd>
      <p>To learn more about Gusto, find language specific tutorials, or read up on add-ons,
        <a href="https://devcenter.heroku.com/">visit the Gusto Dev Center</a>.
      </p>
      <a href="/dismiss_getting_started" class="remove" data-method="put" data-remote="true" rel="nofollow">✖</a>
    </dd>
  </dl>
</div>
</div>
</section>
</div>
<script type="text/javascript">SESSION = {
  currentUser: 'matthewburns@gmail.com'
  };

  Payments = {
  clientSideEncryptionKey: 'MIIBCgKCAQEAuXWD36lDFYmytLgENjNVJPNGqwO5AgjK1bAesQZ1dhdnC9iZ0AdhJCoG6c1ZX4pq3kOROUs7pPUKyIWWt+TDFy6oVRDkRj5CmirEieuUyn9oesK6awiQhPcuqVknpGh0lReM5HL5/yI/Yzwb/hncHw9zJXq0ZwjQ3yRc4E0/oXuedExa5+LQ+HFICY5U+rWU3Lol1woiPoBbrXyyrwDpkQUFgIQAecL+VRvEpp+qKIh3J2cuoPfFLDCwtcvWSOug48VOYhAE4AvBdKztAwRc9i3c49aXeVGyQqBAlFFfaEFL2JroNXfCjOI5uGyckrpBoBE9zUt9BW+x+XvobDBjlwIDAQAB'
  }</script>


<div class="feedback">
  <a href="#feedback-panel" class="" data-toggle="modal">Feedback</a>
</div>
<div class="modal hide " id="feedback-panel">
  <header class="modal-header">
    <h2>Tell us what you think about our Dashboard.</h2>
  </header>
  <form accept-charset="UTF-8" action="/feedback" data-remote="true" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" />
      <input name="authenticity_token" type="hidden" value="IHNkgDJGOqcL5utLseMXtBXzgxqe5M2XrEtD+045aGI=" /></div>
    <div class="modal-body">
      <p class="field-group">
        <textarea id="body" name="body" placeholder="We love detailed feedback!" required="required" rows="5"></textarea>
      </p>
    </div>
    <footer class="modal-footer">
      <div class="loading-feedback">
        <img alt="Spinner" src="https://dqegdwgdd0yjs.cloudfront.net/assets/spinner-23032e2bb821dbee746d8869fbf378e4.gif" />
        <span>Submitting...</span>
      </div>
      <div class="actions">
        <a href="#" class="cancel" data-dismiss="modal">Cancel</a>
        <input class="small button" name="commit" type="submit" value="Submit Feedback" />
      </div>
      <div class="success-feedback">
        <h2><span>✓</span> Thanks for the feedback!</h2>
      </div>
    </footer>
  </form>
</div>
</body>
</html>
