<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gusto | Apps</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/normalize.css"/>
    <link href="/css/html_bp_main.css" rel="stylesheet"/>
    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <link href="/css/font-awesome.css" rel="stylesheet"/>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet"/>
    <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
  </head>
  <body>
    <div>
      <header>
        <div>
          <a href="/" class="logo"><strong>Gusto</strong> dashboard</a>
          <a href="/betaprogram">Beta</a>
        </div>
        <nav>
          <ul>
            <li><a href="/">Tools</a></li>
            <li><a href="/docs/into">Documentation</a></li>
            <li><a href="/docs/support">Support</a></li>
            <li>
              <ul>
                <li><a href="/mgmt/user/account">Account</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </header>
      <section>
        <div id="landing-sites">
          <header class="page-header">
            <h1>Landing Sites</h1>
          </header>
          <ul>
            <li>
              <div class="container">
                <div class="main-info">
                  <a href="/mgmt/landing-site/resources"></a>
                  <hgroup>
                    <h2>
                      <a href="/mgmt/landing-site/resources/foo">foo</a>
                    </h2>
                  </hgroup>
                  <ul class="app-shortcuts">
                    <li class="resources"><a href="/mgmt/landing-site/foo/resources" title="Resources">Resources</a></li>
                    <li class="activity"><a href="/mgmt/landing-site/foo/activity" title="Activity">Activity</a></li>
                    <li class="collaborators"><a href="/mgmt/landing-site/foo/collaborators" title="Access">Access</a></li>
                    <li class="settings"><a href="/mgmt/landing-site/foo/settings" title="Settings">Settings</a></li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <a href="/mgmt/site-builder/new">Create a new Landing Site</a>
        </div>
        <div>
          <dl><dt>Getting to know Gusto</dt>
            <dd>
              <p>To learn more about Gusto, find language specific tutorials, or read up on the api,
                <a href="/developers">visit the Gusto Dev Center</a>.
              </p>
            </dd>
          </dl>
        </div>
      </section>
    </div>
    <div class="feedback">
      <a href="#feedback-panel" class="" data-toggle="modal">Feedback</a>
    </div>
    <div class="modal hide " id="feedback-panel">
      <header class="modal-header">
        <h2>Tell us what you think about our Dashboard.</h2>
      </header>
      <form accept-charset="UTF-8" action="/feedback" data-remote="true" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" />
          <input name="authenticity_token" type="hidden" value="IHNkgDJGOqcL5utLseMXtBXzgxqe5M2XrEtD+045aGI=" /></div>
        <div class="modal-body">
          <p class="field-group">
            <textarea id="body" name="body" placeholder="We love detailed feedback!" required="required" rows="5"></textarea>
          </p>
        </div>
        <footer class="modal-footer">
          <div class="loading-feedback">
            <span>Submitting...</span>
          </div>
          <div class="actions">
            <a href="#" class="cancel" data-dismiss="modal">Cancel</a>
            <input class="small button" name="commit" type="submit" value="Submit Feedback" />
          </div>
          <div class="success-feedback">
            <h2><span>✓</span> Thanks for the feedback!</h2>
          </div>
        </footer>
      </form>
    </div>
  </body>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>
    <script type="text/javascript" src="/js/management-debug.js"></script>
    <script type="text/javascript" src="/js/startup.js"></script>
</html>
