<html lang="en">
  <head>
    <title>Gusto User Dashboard</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <link href="/css/font-awesome.css" rel="stylesheet"/>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/normalize.css"/>
    <link href="/css/main.css" rel="stylesheet"/>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    <!--    <link rel="shortcut icon" href="/images/favicon.ico"> -->
    <link href="http://fonts.googleapis.com/css?family=Comfortaa&subset=latin" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Belleza&subset=latin" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div class="modal_container" style="overflow-x: auto; overflow-y: scroll; display: block; top: 0px;">
      <div class="modal" style="opacity: 1; -webkit-transform: none; top: 0px;">
        <div class="welcome-view standard">
          <a href="#" class="close hide"><span>Don't show this welcome screen anymore</span></a>
          <h1><span><strong data-text="Welcome to Stripe!">Welcome to Stripe!</strong></span></h1>
          <p>This is the Stripe dashboard, where you view and manage all your payments, customers, transfers and more.</p>
          <hr>
          <div class="guides">
            <p>
              We've put together some guides to help get you started:
            </p>
            <ul>
              <li><a href="https://stripe.com/docs/tutorials/cards">Collecting your customer's cards</a></li>
              <li><a href="https://stripe.com/docs/tutorials/charges">Making payments from your server</a></li>
              <li><a href="https://stripe.com/docs/tutorials/subscriptions">Billing your users periodically</a></li>
              <li><a href="https://stripe.com/docs/tutorials/dashboard">Managing your Stripe account</a></li>
            </ul>
          </div>
          <p class="more"><a href="#" class="hide arrow">Go straight to your dashboard</a></p>
      </div></div>
    </div>
    <footer id="server_message_channel"></footer>
  </body>
  <script src="/js/lib/modernizr-2.6.2.min.js"></script>
  <script src="/js/lib/jquery.min.js"></script>
  <script type="text/javascript" src="/js/management-debug.js"></script>
  <script type="text/javascript" src="/js/startup.js"></script>
</html>
