<html lang="en">
  <head>
    <title>Gusto User Dashboard</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <link href="/css/font-awesome.css" rel="stylesheet"/>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/normalize.css"/>
    <link href="/css/main.css" rel="stylesheet"/>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    <!--    <link rel="shortcut icon" href="/images/favicon.ico"> -->
    <link href="http://fonts.googleapis.com/css?family=Comfortaa&subset=latin" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Belleza&subset=latin" rel="stylesheet" type="text/css"/>
  </head>
  <body id="login" class="register-page" cz-shortcut-listen="true">
    <div id="login-background"><div class="inner"></div></div>
    <div id="wrap" style="padding-top: 0px;">
      <!-- Header -->
      <div id="header">
        <h1><a href="/">Gusto</a></h1>
      </div>
      <div id="main-body" class="box css"><div class="inner">
          <div class="title extra">
            <h2>Create your Gusto account.</h2>
	    <form method="POST" action="/signup">
	      <p class="text">
		<span>
		  <label for="username">Username</label>
		  <input type="text" value="" name="username" id="username" placeholder="Username">
		</span>
	      </p>
	      <p class="text">
		<span>
		  <label for="password">Password</label>
		  <input type="password" value="" name="password" id="password" placeholder="Password">
		</span>
	      </p>

	      <p class="text">
		<span>
		  <label for="confirm_password">Confirm Password</label>
		  <input type="password" value="" name="confirm" id="confirm_password" placeholder="Confirm password">
		</span>
	      </p>

	      <input type="hidden" name="redirect" value="">
	      <input type="hidden" name="invite_code" value="">
	      <input type="hidden" name="country" value="">
	      <div>
		<p class="submit">
		  <button type="submit" class="button blue medium"><span>Create your Gusto account</span></button>
		</p>
		<p class="remember" style="display:none">
		  <label><input type="checkbox" name="remember" checked="checked"> Remember me</label>
		</p>
	      </div>
	    </form>
	  </div>
	</div>
      </div>
    </div>
    <div class="below-box">
      <p>
	Already have an account?
	<a href="/login">Sign in</a>.
      </p>
    </div>
    <div id="footer_spacer"></div>
    <div id="bottom">
      <ul>
	<li class="first"><a href="/reset">Forgot your password?</a></li>
	<li><a href="https://stripe.com/privacy">Privacy Policy</a></li>
	<li><a href="https://stripe.com/help/contact">Contact</a></li>
      </ul>
    </div>
    <script src="/js/lib/modernizr-2.6.2.min.js"></script>
    <script src="/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="/js/management-debug.js"></script>
    <script type="text/javascript" src="/js/startup.js"></script>
  </body>
</html>
