<div  class="container-fluid">
   <div class="row-fluid">	
     [% INCLUDE modal %]
   </div>
</div>

 
[% BLOCK modal %]
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="false">×</button>
  </div>
  <div class="modal-body">
    [% INCLUDE lead_form.tt %]
  </div>
</div>
[% END %]


