/target
/lib
/classes
/checkouts
/.configleaf
src/cfg/current.clj
pom.xml
pom.xml.asc
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-env
*~
.DS_Store
*logs*
.lein-repl-history
.#*
*.bkp
*website*
*src/clj/causal-marketing/resources/public/site/*