export PATH=/opt/local/bin:/opt/local/sbin:$HOME/bin:$PATH
# Landing Site Business Server environment variables
export LSBS_USER={{username}}
export LSBS_GROUP={{username}}
export LSBS_HOME=/home/{{username}}
export LSBS_ROOT_DIR=/home/{{username}}
export LSBS_CFG_DIR=$LSBS_ROOT_DIR{{app-cfg-path}}
export LSBS_WEBSITE=$LSBS_ROOT_DIR{{website-dir}}
# TODO:  retrieve these in most secure manner test values 
export LSBS_DB_ADDRESS="{{db-address}}"
export LSBS_DB_USER="{{ db-user}}"
export LSBS_DB_PASSWORD="{{db-password}}"
export LSBS_DB_NAME="{{db-name}}"
export LSBS_MONITORING_ADDRESS="{{monitoring-uri}}"
