<html lang="en">
  <head>
    <title>Landing Site Home Page</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css"> 
    <link href="/css/main.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    <!--    <link rel="shortcut icon" href="/images/favicon.ico"> -->
    <link   rel="stylesheet" type="text/css" src="replace-me">
    <style id="cms-css"></style>
  </head>
    <body>
      <!--[if lt IE 7]>
          <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
          <![endif]-->
      <nav class="container-fluid navbar navbar-inverse navbar-fixed-top top">
	<ul id="top-bar" class="row-fluid span2">
	  <li><h3 class="header-question-left">The Patient Comfort Way</h3></li>
	  <li><a  id="lead-form-link" href="#myModal" role="button" class="btn btn-warning" data-toggle="modal">Support Groups</a></li>
	</ul>
      </nav>
      <div class="row-fluid span12 page-content">
	<header class="span2">      
          <div><img id="header-image" src="/img/transparent-sun-cloud.png"/></div>
	  <aside id="side-lead-form" class="box">
	    <div> 
	      <div class="alert alert-error" style="display:none">
		<strong>Ooops!</strong> Try again
	      </div>
	      <div class="alert alert-success" style="display:none">
		<strong>Success!</strong> You passed the validation.
	      </div>
	      <form id="lead_form"  autocomplete="on" method="POST" action="lead">
		<fieldset>
		  <legend>
		    <h5>Submit your information now for a free in home consultation offer</h5>
		  </legend>
		  <label>Name</label><input id="lead_full_name" type="text"  class="required"/>
		  <label>Email</label><input id="lead_email" type="text"  class="required email"/>
		  <label>Phone</label><input id="lead_phone" type="text"  class="required phoneUS"/>
	          <span><input id="lead_newsletter" type="checkbox" checked=true><h5>Free Newsletter</h5></span>
		  <input type="submit" id="lead-form-submit"  value="Go" class="lead-btn"/>
		  <a href="#terms_and_conditions_modal" data-toggle="modal">&nbsp Terms and Conditions</a>
		</fieldset>
		<img src="/img/transparent-logo.png"/>
	      </form>
	    </div>	    
	  </aside>
	</header>
	<div id="rootwizard" class="tabbable tabs-top span10 container-fluid">
	  <ul id="nav-controls-destination" class="nav nav-tabs">
	    <li><a href="#tab0" data-toggle="tab" class="btn btn-success" >Solutions</a></li>
	  </ul>
	  <section class="tab-content">
	    <div class="tab-pane" id="tab0">
	      <ul>
		<li  class="leading">
		  <img src="/site/landing_site/19d93b08.jpg">
		</li>
		<li>
		  <article>
		    <h1>Solutions</h1>
		    <aside><h2>What to do when you get diagnosed with a serious illness?</h2></aside>      
		    <div class="hero-unit">
		      <h3>Live smart. Think healthy. The Patient Comfort Way!</h3>
		      <ul>
			<li>Follow the instructions of your physician </li>
		      </ul>
		      <p>Restore, Rebuild,  Renew, Start Fresh.</p>
		      <h3>Call Today: (310) 883-3714</h3>
		      <img class="trailing" src="/img/b33d3b9e.jpg">
		    </div>
		  </article>
		</li>
	      </ul>
	    </div>
	    <ul id="nav-controls" class="pager wizard">
	      <li class="previous first" style="display:none;"><a href="#">First</a></li>
	      <li class="previous"><a href="#">Previous</a></li>
	      <li class="next last" style="display:none;"><a href="#">Last</a></li>
	      <li class="next"><a href="#">Next</a></li>
	    </ul>
	  </section>
	</div>
      </div>
      <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	</div>
	<div class="modal-body">
	  <div class="alert alert-error" style="display:none">
	    <strong>Ooops!</strong> Try again
	  </div>
	  <div class="alert alert-success" style="display:none">
	    <strong>Success!</strong> You passed the validation.
	  </div>
	  <form id="support-group-form" autocomplete="on" method="POST" action="">
	    <fieldset>
	      <legend>Part of a support group?<br/>
		<h5>Register your support group today and introduce others to the Patient Comfort Way</h5>
	      </legend>
              <label>Name</label><input id="lead_full_name" type="text"  class="required"/>
	      <label>Email</label><input id="lead_email" type="text"  class="required email"/>
	      <label>Phone</label><input id="lead_phone" type="text"  class="required phoneUS"/>
	      <label>Zip</label><input id="lead_postal_code" type="text"/>
	      <input id="lead_newsletter" type="checkbox" checked=true> Get Our Free Newsletter<br/>
	      <input type="submit" value="Go" id="support" class="support-group-lead-btn submit"><a href="#terms_and_conditions_modal" data-toggle="modal">&nbspTerms and Conditions</a>
	    </fieldset>
	  </form>
	</div>
      </div>
      <footer id="server_message_channel"></footer>  
      <script src="/js/lib/modernizr-2.6.2.min.js"></script> 
      <script type="text/javascript" src="/js/JemplateRuntime.js"></script>
      <script type="text/javascript" src="/js/jemplates.js"></script>
      <script data-main="/js/lib/main" src="/js/lib/require.js"></script>
      <script data-main="/js/lib/main" src="/js/lib/socket.io.js"></script>
      <script data-main="/js/lib/main" src="/js/lib/heatmap.js"></script>
      <script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	ga('create', 'UA-40578168-1', 'patientcomfortreferral.com');
	ga('send', 'pageview');
      </script>
    </body>
</html>
