<html>
    <head>
        <title id="title"></title>
        <link type="text/css" rel="stylesheet" href="/css/main.css"></link>
    </head>
    <body>

        <h2 class="title">Foo</h2>
        <ul class="content"> 
            <li id="items"><div id="contents">bam</div></li>
            <li><div>bam</div></li>
        </ul>

        <h2 class="title">Bar</h2>
        <ul class="content"> 
            <li id="items"><div id="contents">bam</div></li>
            <li><div>bam</div></li>
            <li><div>bam</div></li>
        </ul>

    </body>
</html>
