<ul id="top-bar">
  <li><h3 class="header-question-left">Do you suffer from Serious Pain?</h3></li>
  <li><h3 class="header-question-left">Introducing the Patient Comfort Way!</h3></li>
  <li><a  id="lead-form-link" href="#myModal" role="button" class="btn btn-warning" data-toggle="modal">Support Groups</a></li>
</ul>
