(logging/init :file "/var/log/riemann/riemann.log")
(let [host "127.0.0.1"]
  (tcp-server :host host)
  (udp-server :host host)
  (ws-server  :host host))

(periodically-expire 5)

(let [index (default :ttl 300 (update-index (index)))
      click-count (atom 0)
      organic-count (atom 0)
      lead-count (atom 0)]

  (streams
   
   (where (service "leads")
          (fn [event]
            (dosync (swap! lead-count inc) )
            (prn :count @lead-count)
            (index {:service "leads"
                    :time (unix-time)
                    :metric @lead-count})))

   (where (service "clicks")
          (fn [event]
            (dosync (swap! click-count inc))
            (prn :count @click-count)
            (index {:service "clicks"
                    :time (unix-time)
                    :metric @click-count})))
   index
   )
  )



