
html {
    height: 100%;
}

body {
    font-size: small;
    font-family: Helvetica, Arial, san-serif;
    background-color: [% site.col.page %];
    color: [% site.col.text %];
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#header {

}

#footer {
    background-color: [% site.col.head %];
    text-align: center;
    border-top: 1px solid [% site.col.line %];
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    padding: 4px;
}

#content {
    padding: 10px;
}

h1.title {
    padding: 4px;
    margin: 0px;
}

.message {
    color: [% site.col.message %];
}

.error {
    color: [% site.col.error %];
}

.dial { width: 50; 
	height: 10px; 
}

.top {
  background-color: #00b10e;
}

.hero-background {}

.hero-unit {}

img {
    opacity: 0.2;
}

#header-question {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 20px;
  color: white;
}

.logo {
    opacity: 1;
}

.hero-unit p {
  font-size: 120%;
  font-weight: bold;
  text-rendering: optimizelegibility;
  color: #424849;
}

.hero-unit li {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 20px;
  font-size: 120%;
/*  color: #f89406; */
}

.hero-unit li {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 20px;
  font-size: 20px;
/*  color: #f89406; */
}

#side-lead-form {
    float: right;
    padding: 0 100px 0 0;
}

#logo {
    float: left;
    margin: 0;
    padding: 0;
}

nav {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


.box {
    float: right;
    width: 150px;
    border: 1px solid #C6A765;
    background: #FAF7F1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.box h3 {
    margin: 0;
    padding: 6px 8px 4px 10px;
    font-size: 130%;
    color: #333;
    border-bottom: 1px solid #EOCFAB;
}

.box ul {
    margin: 0;
    padding: 14px 10px 14px 10px;
    list-style: none;
}

.box ul li {
    margin: 0 0 6px;
    padding: 0;
}

header {
    padding: 50px 40px 0px 1px;
    margin: 5px;
}

#header-question {
    float: right;
    margin: 0;
    padding: 8px 10px 0px 0px;
}

img {
    max-width: 100%;
}

.tab-pane img {
    max-width: 35%;
}

