     body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      
      .sidebar-nav {
        padding: 9px 0;
      }
      
html {
    height: 100%;
}

body {
    background-color: #ffffff;
    color: ;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#header {
}

#footer {
    background-color: #ffffff;
    text-align: center;
    border-top: 1px solid ;
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    padding: 4px;
}

#content {
    padding: 10px;
}

h1.title {
    padding: 4px;
    margin: 0px;
}

.message {
    color: #25AA0C;
}

.error {
    color: #CC4444;
}

.dial { width: 50; 
	height: 10px; 
}

.top {
  background-color: #00b10e;
}

.hero-background {}

.hero-unit {}

img {
    opacity: 0.2;
}

.logo {
    opacity: 1;
}


.hero-unit p {
  font-size: 100%;
  font-weight: bold;
  text-rendering: optimizelegibility;
  color: #424849;
}

article {
    background: yellow;
}