body {
/*    background-color: #EEEEEE; */
    background-color: black;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: x-small;
    color: #666666;
}

ul, ol {
    list-style: none;
}

h1 {
  margin-bottom: 12px;
  text-align: center;
  font-size: 30px;
  font-weight: 400; 
}

h3 {
  font-size: 25px;
  font-weight: 600;
  color: white; 
}

/* Gridster styles */
.demo {
    margin: 3em 0;
    padding: 7.5em 0 5.5em;
    background: #004756;
}

.demo:hover .gridster {
    opacity: 1;
}

.gridster {
    width: 940px;
    margin: 0 auto;

    opacity: .8;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster .gs_w {
    background: #FFF;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.gridster .page_one {
    background: #ec663c;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.gridster .page_two {
    background: #47bbb3;
 -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.gridster .page_three {
    background: #9c4274;
 -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.gridster .page_four {
    background: #12b0c5;
 -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.gridster .page_five {
    background: #ff9618;
 -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.gridster .page_six {
    background: white;
 -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.gridster .inset {
    background: white;
 -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.hero-unit {
  padding: 6px;
  margin: 10px;
  background-color: #eeeeee;

}


